In [1]:
# Simulating Sqoop data transfer using Pandas in Google Colab

import pandas as pd

# Step 1: Simulate data in "HDFS" (a CSV file or DataFrame)
hdfs_data = pd.DataFrame({
    'id': [1, 2, 3, 4],
    'name': ['Alice', 'Bob', 'Charlie', 'David'],
    'salary': [50000, 60000, 55000, 70000]
})
print("Data in HDFS (before export):")
print(hdfs_data)

# Step 2: "Export" data from HDFS to an external system (simulate writing to SQL)
exported_data = hdfs_data.copy()
print("\nData exported to MySQL (simulated):")
print(exported_data)

# Step 3: "Import" data from MySQL to Hive (simulate import process)
hive_table = exported_data.copy()
print("\nData imported into Hive table:")
print(hive_table)

Data in HDFS (before export):
   id     name  salary
0   1    Alice   50000
1   2      Bob   60000
2   3  Charlie   55000
3   4    David   70000

Data exported to MySQL (simulated):
   id     name  salary
0   1    Alice   50000
1   2      Bob   60000
2   3  Charlie   55000
3   4    David   70000

Data imported into Hive table:
   id     name  salary
0   1    Alice   50000
1   2      Bob   60000
2   3  Charlie   55000
3   4    David   70000