In [ ]:
# Import necessary library
import pandas as pd

# Create two sample datasets
data1 = {'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
         'Department': ['IT', 'HR', 'IT', 'Finance', 'HR'],
         'Salary': [70000, 50000, 80000, 75000, 52000]}

data2 = {'Department': ['IT', 'HR', 'Finance'],
         'Manager': ['John', 'Sarah', 'Michael']}

# Convert to DataFrames
emp_df = pd.DataFrame(data1)
dept_df = pd.DataFrame(data2)

print("Original Employee Data:\n", emp_df, "\n")

# 1. Projection (Selecting specific columns)
projected = emp_df[['Name', 'Salary']]
print("Projected Data (Name, Salary):\n", projected, "\n")

# 2. Filter (Employees with Salary > 60000)
filtered = emp_df[emp_df['Salary'] > 60000]
print("Filtered Data (Salary > 60000):\n", filtered, "\n")

# 3. Group (Group by Department and find average salary)
grouped = emp_df.groupby('Department')['Salary'].mean().reset_index()
print("Grouped Data (Average Salary by Department):\n", grouped, "\n")

# 4. Sort (Sort employees by Salary descending)
sorted_df = emp_df.sort_values(by='Salary', ascending=False)
print("Sorted Data (by Salary Descending):\n", sorted_df, "\n")

# 5. Join (Join with department manager details)
joined = pd.merge(emp_df, dept_df, on='Department', how='inner')
print("Joined Data (Employee + Manager):\n", joined)

Original Employee Data:
       Name Department  Salary
0    Alice         IT   70000
1      Bob         HR   50000
2  Charlie         IT   80000
3    David    Finance   75000
4      Eva         HR   52000

Projected Data (Name, Salary):
       Name  Salary
0    Alice   70000
1      Bob   50000
2  Charlie   80000
3    David   75000
4      Eva   52000

Filtered Data (Salary > 60000):
       Name Department  Salary
0    Alice         IT   70000
2  Charlie         IT   80000
3    David    Finance   75000

Grouped Data (Average Salary by Department):
   Department   Salary
0    Finance  75000.0
1         HR  51000.0
2         IT  75000.0

Sorted Data (by Salary Descending):
       Name Department  Salary
2  Charlie         IT   80000
3    David    Finance   75000
0    Alice         IT   70000
4      Eva         HR   52000
1      Bob         HR   50000

Joined Data (Employee + Manager):
       Name Department  Salary  Manager
0    Alice         IT   70000     John
1      Bob         HR   50000    Sarah
2  Charlie         IT   80000     John
3    David    Finance   75000  Michael
4      Eva         HR   52000    Sarah